In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import os
import pandas as pd

## Mars News

In [3]:
!which chromedriver

/usr/local/bin/chromedriver

In [59]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(news_url)

In [6]:
soup_news = BeautifulSoup(browser.html, 'html.parser')

In [7]:
news_articles = soup_news.find_all('li',class_='slide')

In [8]:
news_title = news_articles[0].find('div', class_='content_title').find('a').text
news_p = news_articles[0].find('div', class_='article_teaser_body').text

In [9]:
print(news_title)
print(news_p)

NASA's MRO Completes 60,000 Trips Around Mars
The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.

## Mars Featured Image

In [10]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [11]:
soup_image = BeautifulSoup(browser.html, 'html.parser')

In [12]:
image = soup_image.find('article', class_='carousel_item')
image_url = image['style']
image_url

"background-image: url('/spaceimages/images/wallpaper/PIA12831-1920x1200.jpg');"

In [13]:
image_specific = image_url.split("'")[1]
print(image_specific)

/spaceimages/images/wallpaper/PIA12831-1920x1200.jpg

In [14]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars' + image_specific
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/wallpaper/PIA12831-1920x1200.jpg'

## Mars Weather

In [15]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [16]:
soup_weather = BeautifulSoup(browser.html, 'html.parser')

In [17]:
weather = soup_weather.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
#print(weather)

In [18]:
mars_weather = weather[1].text
mars_weather

'InSight sol 166 (2019-05-15) low -100.5ºC (-148.8ºF) high -20.5ºC (-4.8ºF)\nwinds from the W at 4.2 m/s (9.4 mph) gusting to 11.7 m/s (26.2 mph)\npressure at 7.50 hPa'

## Mars Facts

In [29]:
facts_url = 'https://space-facts.com/mars/'

In [30]:
tables = pd.read_html(facts_url)
print(tables)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [32]:
fact_df = tables[0]
fact_df= facts_df.iloc[1:]
fact_df

                      0                              1
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [41]:
fact_df.columns = ['Description', 'Value']
fact_df.set_index('Description', inplace=True)
fact_df

                                              Value
Description
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [43]:
facts_df.to_html('mars_facts.html')

## Mars Hemispheres

In [60]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [61]:
soup_hemispheres = BeautifulSoup(browser.html, 'html.parser')

In [64]:
mars_hemispheres = soup_hemispheres.find_all('div', class_='description')
hemispheres_list = []
for hemispheres in mars_hemispheres:
    title = hemispheres.find('a',class_="itemLink product-item").text
    #browser.click_link_by_partial_text(title)
    soup_pic = BeautifulSoup(browser.html,'html.parser')
    each_h = soup_pic.find('img',class_="thumb")["src"]
    img_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars' + each_h
    dict_ = {"title": title,
            "img_url": img_url}
    hemispheres_list.append(dict_)
    #browser.back()
print(hemispheres_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}]